body{
    margin-right: auto;
    margin-left: auto;
    width: 380px;
}
.selected{
    background-color: aqua;
 }
/* login */
#year{
    width: 50px;
}
#month, #date{
    width: 20px;
}
.lineon{
    margin: 0px 20px;
    text-decoration: underline ;
}
/* mypage */
.group{
    border-radius: 5px;
    border: black solid;
    padding: 10px 30px 10px 20px;
    margin: 20px;
}